@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&family=Short+Stack&display=swap');

h1 {
    color:white;
    font-family: 'Short Stack', cursive;
}

h2 {
    color:aqua;
    font-family: 'Oxygen', sans-serif;
}

*{
    background-color:black;
    
}
p{
    color: white;
}
li{
    color: white;
}

.box {
    height: 700px;
    width: 1000px;
    background-image: url(http://source.unsplash.com/random);
    background-repeat: no-repeat;
    background-position: center;
}

.box::after{
    content: "TESTE DE VALOR 😀 ";
    color: white;
    font-size: 48px;
}