@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&family=Short+Stack&display=swap');

h1 {
    color:antiquewhite;
    font-family: 'Short Stack', cursive;
}

h2 {
    color:aqua;
    font-family: 'Oxygen', sans-serif;
}
